@import url('https://fonts.googleapis.com/css?family=Pinyon+Script&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  /* default is 16px */
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  font-size: 1.6rem;
  line-height: 1.7;
  background-color: rgb(216, 166, 19);
  box-sizing: border-box;
}
.layout-body {
  margin: 0 auto;
  max-width: 960;
}
/* .image-main {
  width: 100%;
  height: 100%;
  max-width: 4800px;
} */

.image-main-wrapper {
  /* min-width: 300px; */
  height: 100vh;
  overflow-x: hidden;
}
.image-main {
  min-width: 900px;
  max-width: 2400px;
  left: 50%;
  top: 35%; /**/
  /* -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); */
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow-x: hidden;
}

.main-alert {
  margin: 2rem 0;
  text-align: center;
}

.markdown-body,
.markdown-body img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
}

/**** NEWS ****/
/* .news-section {
  position: relative;
  top: 0;
  background-color: yellow;
  width: 100%;
  height: 100%;
}

.news-main {
  position: relative;
  width: 60rem;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.news-list {
  position: absolute;
  width: 100%
}
.news-item {
  margin: 1rem;
  padding: 1rem;
  list-style: none;
  background-color: #FFFCFD;
} */

/**** MAIN NEWS FEED ****/
.news-section {
  background-color: #bbdba9; /* #fffcfd; */
  padding: 4rem 0;
}
.news-main {
  position: relative;
  /* max-width: 60rem; */
  width: 80%;
  max-width: 70rem;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
@media screen and (max-width: 500px) {
  .news-main {
    width: auto;
  }
}
.news-title {
  text-align: center;
  font-size: 2.5em;
}

.news-list {
  position: relative;
  top: 0;
}
.news-item {
  background-color: #bbdba9;
  /* background-color: #fffcfd; */
  margin: 8rem 1rem;
  padding: 1rem;
  list-style: none;
  /* background-color: rgb(216, 166, 19, 0.5); */
  /* border-top: 1px solid grey;
  border-bottom: 1px solid grey; */
}
.news-item::after{  /* .news-item:not(:last-child)::after */
  border-top: 1px solid rgba(35, 31, 32, .3);
  content: "";
  height: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 50%;
  margin: 4.5rem 0;
}
.news-item:first-child::before{
  border-top: 1px solid rgba(35, 31, 32, .3);
  content: "";
  height: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 50%;
  margin: -4.5rem 0;
}
.news-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -2rem;
  margin-bottom: 2rem;
}
.news-item-headline {
  font-size: 2em;
  letter-spacing: -0.04em;
  width: 75%;
  line-height: 1.25em;
}
.news-post-date {
  font-size: .9em;
}
.news-item-html {
  padding: 0 calc(2rem * 2);
}
.news-item-html a {
  /* text-decoration: none; */
}
.news-item-html a:hover {
  color: rgb(35, 31, 32);
}
.news-item-html p {
  line-height: 1.5;
}
.news-item-html img {
  padding: 0;
  position: relative;
  max-width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  border-radius: 1rem;
}


/**** Image Gallery ****/
.gallery-container-outer {
  margin-right: 25px;
  margin-left: 25px;
}
.gallery-container {
  flex: 0 0 100%;
  max-width: 1580px;
  text-align: center;
  margin: auto;
}
.gallery-main {
  text-align: center;
  max-width: 1580px;
  /* max-width: 1120px; 1920 */
  display: flex;
  flex-wrap: wrap;
}
.gallery_tile {
  -webkit-flex-basis: 0;
  flex-basis: 0;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  max-width: 100%;
  /* background-color: rgb(216, 166, 19); */
  background-color: #bbdba9;
  position: relative;
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
}
.gallery_tile img {
  border: 1px solid rgb(35, 31, 32);
  width: auto !important;
  cursor: pointer;
}
.ReactGridGallery_tile-viewport {
  width: 271px !important;
  display: inline-block;
}
.ReactGridGallery_tile-viewport img {
  margin-left: 0 !important;
}

/**** Gallery Viewer ****/
.imageViewerHeaderButton {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 5px;
  z-index: 500; /* mobile was stuck behind nav menu */
}
.imageViewerFooter {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.desktop__only__button {
  display: none;
}
@media (min-width: 1200px) {
  .imageViewerFooter {
    left: 50% !important;
    margin-left: -300px;
    width: 600px !important;
  }
  .desktop__only__button {
    display: unset;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .ImageStyleCss {
    left: 50% !important;
    margin-left: -300px;
    width: 600px !important;
  }
}

/**** New Nav ****/
.nav {
  height: 60px;
  width: 100%;
  background-color: rgb(216, 166, 19);
  position: relative;
}
.nav > .nav-header {
  display: inline;
}
.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: rgb(35, 31, 32);
  line-height: 60px;
  padding: 0 10px;
  /* padding: 10px 10px 10px 10px; */
}
.nav > .nav-btn {
  display: none;
}
.nav > .nav-links {
  display: inline;
  font-size: 18px;
  width: 64.1rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.nav > .nav-links > a {
  width: auto; /* 96px 140px */
  padding: 0 20px;
  height: 60px;
  display: inline-block;
  text-align: center;
  line-height: 60px;
  /* padding: 13px 10px 13px 10px; */
  margin: 0 0.2rem;
  text-decoration: none;
  background-color: rgb(35, 31, 32);
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
  color: rgb(216, 166, 19);
}
.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
}
.nav > #nav-check {
  display: none;
}
.nav > .nav-links > .disabledNavLink {
  pointer-events: none;
  cursor: default;
  background-color: rgba(0, 0, 0, 0.5);
}

/** MOBILE NAV **/
@media (max-width: 652px) {  /* 600px */
  #home-mobile-nav {
    display: block !important;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 60px;
    height: 60px;
    z-index: 100;
    box-shadow: 0 1rem 3rem rgba(black, 0.1);
    text-align: center;
    cursor: pointer;
  }
  .nav-btn-label {
    position: relative;
    display: block;
    height: 100%;
    z-index: 100;
    box-shadow: 0 1rem 3rem rgba(black, 0.1);
    cursor: pointer;
  }
  .nav-btn-icon {
    position: relative;
    margin-top: 3rem;
  }
  .nav-btn-icon,
  .nav-btn-icon::before,
  .nav-btn-icon::after {
    width: 3rem;
    height: 2px;
    background-color: rgb(35, 31, 32);
    display: inline-block;
  }
  .nav-btn-icon::before,
  .nav-btn-icon::after {
    content: "";
    position: absolute;
    left: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .nav-btn-icon::before {
    top: -0.8rem;
  }
  .nav-btn-icon::after {
    top: 0.8rem;
  }
  .nav > #nav-check:checked ~ .nav-btn > .nav-btn-label > .nav-btn-icon {
    background-color: transparent;
  }
  .nav
    > #nav-check:checked
    ~ .nav-btn
    > .nav-btn-label
    > .nav-btn-icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  .nav > #nav-check:checked ~ .nav-btn > .nav-btn-label > .nav-btn-icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.8);
    height: 0;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    z-index: 10;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    margin: 0;
    background-color: rgba(51, 51, 51) !important;
  }
  .nav > .nav-links > .disabledNavLink {
    display: none;
    /* pointer-events: none;
    cursor: default; */
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: 100vh;
    /* height: calc(100vh - 50px); */
    /* height: auto; */
    overflow-y: auto;
  }
}

.top-logo {
  text-align: center;
}
.top-logo img{
  width: 100%;
  max-width: 44rem;
}

/**** Courses Page ****/

.courses-container {
  background-color: #bbdba9;
  /* background-color: #fffcfd; */
  /* padding: 2rem 0; */
}
@media screen and (max-width: 550px) {
  .course-gallery-container-outer {
    margin: 0;
  }
}
.course-tile {
  background-color: #bbdba9;
  /* background-color: #fffcfd; */
  cursor: default;
  height: 400px;
  /* margin: 45px 0; */
  margin-top: 50px;
  margin-bottom: 100px;
}
.course-tile-inner {
  margin: auto;
  width: 475px;
  height: 300px;
  /* background-color: #fffcfd; */
  background-color: #bbdba9;
}
.course-tile-background-image {
  width: 475px;
  height: 300px;
  background-size: 475px 300px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
}
.course-tile-text {
  position: absolute;
  bottom: 10rem;
  width: 47.5rem;
  /* height: 12rem; */
  max-height: 300px;
  background-color: rgba(35, 31, 32, .6);
  /* font-family: 'Pinyon Script', cursive; */
  font-size: 6rem;
  font-weight: 500;
  color: #fffcfd;
  border-radius: 0 0 1rem 1rem;
}
.course-tile-text-title {
  line-height: 9rem;
  max-height: 300px;
  overflow: hidden;
}
.course-tile-description {
  position: absolute;
  width: 47.5rem;
  text-align: left;
  text-decoration: none;
  color: rgb(35, 31, 32);

  max-height: 18.9rem;
  overflow: hidden;
}
@media screen and (max-width: 490px) {
  .course-tile-inner, .course-tile-background-image, .course-tile-text, .course-tile-description {
    width:400px;
  }
}
@media screen and (max-width: 415px) {
  .course-tile-inner, .course-tile-background-image, .course-tile-text, .course-tile-description {
    width:360px;
  }
  .course-tile-text-title {
    font-size: 5rem;
  }
}
@media screen and (max-width: 374px) {
  .course-tile-inner, .course-tile-background-image, .course-tile-text, .course-tile-description {
    width:305px;
  }
  .course-tile-text-title {
    font-size: 4.1rem;
  }
}

.overflow-shadow {
  position: absolute;
  top: 9em;
  width: 100%;
  height: 3em;
  /* background: -webkit-linear-gradient(rgba(255,255,255,0), white); */
  background: -webkit-linear-gradient(rgba(255,255,255,0), #bbdba9);
  background: -o-linear-gradient(rgba(255,255,255,0),  #bbdba9);
  background: -moz-linear-gradient(rgba(255,255,255,0),  #bbdba9);
  background: linear-gradient(rgba(255,255,255,0),  #bbdba9);
}

/****  ****/


/**** Course Page ****/
.course-page-content {
  margin-top: 40px;
  background-color: #bbdba9;
}
.course-hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 360px;
  position: relative;
}
.course-hero-title {
  /* font-family: 'Pinyon Script', cursive; */
  font-size: 6rem;
  font-weight: 500;
  color: #fffcfd;
  position: absolute;
  width: 100%;
  line-height: 50px;
  left: 40px;
  bottom: 15px;
}
.course-page-text {
  text-align: center;
  color: rgb(35, 31, 32);
  line-height: 3.1rem;
  padding: 2rem 0;
}
.course-info{
  width: 75%;
  max-width: 190rem;
  text-align: left;
  margin: auto;
  padding-top: 2rem;
  line-height: 2.5rem;
}
.caddy-guide-container {
  padding-bottom: 2rem;
}
.caddy-guide-download{
  width: 75%;
  max-width: 190rem;
  /* text-align: left; */
  margin: auto;
  padding-bottom: 2rem;
  line-height: 2.5rem;
}
.course-address-content {
  text-align: center;
  padding: 2rem 0;
}
/* Adjustments for mobile */
@media screen and (max-width: 490px) {
  .course-hero-title {
    left: 10px;
  }
  .course-page-text h1 {
    text-align: left;
    margin: 0 10px;
  }
  .course-info {
    width: 90%;
  }
}
/* allow zoom to fill the screen */
.course-carousel .react-images__frame {
  /* overflow: visible !important; */
}
.course-carousel .react-images__navigation {
  /* opacity: 1 !important; */
}
.course-carousel .react-images__navigation button {
  background: rgba(0,0,0, .3) !important;
  box-shadow: 0px 0px 4px !important;
}
/****  ****/

.contact-individual {
  line-height: 30px;
  text-align: center;
  background-color: #bbdba9;
  padding: 20px;
}
.content {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 80px;
}
footer {
  padding: 10px 0;
  text-align: center;
  line-height: 30px;
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
}